#navbar{
   
    background-color: #104566;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
   

}
.navbar-toggler-icon{
    color: white;
    
}


.simbolo{
    margin: auto;
    width: 5rem;
 
}
.navbar-brand{
    
    color: #fff;
    
}
.navbar-brand:hover{
    
    color: #000;
    
}

.navbar-brand:active{
    
    color: #000;
    
}

#inicio, .nav-link{
    color: #fff;
}

