.containeer{
  margin: auto;
  margin-top: 2rem;
  padding: 2rem;
}

form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.MuiFormControl-root{
  width: 100%;
}
.left{
  left: left;
  padding: 1rem;
  width: 50%;
}

.left > div {
  margin-top: 1rem ;
}

.right{
  width: 50%;
  padding: 1rem;
}

.right > div {
  margin-top: 1rem 
}
.botão{
  display: flex;
  align-items: center;
  padding: 1rem;
}
.botão > button {
  padding: 1rem;
}
.botão > button:last-child {
 margin-left: 1rem;
}

@media (max-width: 767px) {
.containeer{
    margin: auto;
    margin-top: 2rem;
    padding: 2rem;
  }
form{
  display: flex;
  flex-direction: column;
}
.left{
  left: none;
  padding: 1rem;
  width: 100%;
}
.right {
  width: 100%;
}
 
}
  .thead{
    background-color: #104566;
    color: #fff;
    text-align: center;
  }
  .tr:nth-child(even) {
    background:rgb(204, 225, 230);
  }
  .table{
    max-width: fit-content;
    overflow: hidden;
    color: #fff;
    margin: auto;
    margin-top: 2rem;
    text-align: center;
    border: solid 1px;

  }
 .rolagem{
  height: 27rem;
  overflow-y: auto;
} 